*{
  margin: 0px;
  padding: 0px;
}
body{
	background-color:black;
}

@keyframes parallax-background {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 0px 700px;
    }
}

#fondo{
	background: url('background2.png');
	width:1000px;
	height:570px;
  position: absolute;
  overflow: hidden;
  float: center;
  background-image: url("background.png"),
      background-size: auto;
  background-repeat:
      repeat;
  background-position:
      0px 0px;
  animation: parallax-background linear 40s infinite;
}

#avion{
	background: url('spritesheet.gif');
	background-position: -85px -180px;
	width:28px;
	height:28px;
	position:absolute;
}
.enemigo{
	background: url('spritesheet.gif');
	background-position: -30px -10px;
	width:28px;
	height:28px;
	position:absolute;
}
.otroenemigo{
	background: url('spritesheet.gif');
	background-position: -185px -10px;
	width:28px;
	height:28px;
	position:absolute;
}
.bala{
	background: url('spritesheet.gif');
	background-position: -185px -400px;
	width:18px;
	height:18px;
	position:absolute;
}
.explosion{
	background: url('spritesheet.gif');
	background-position: -145px -30px;
	width:30px;
	height:30px;
	position:absolute;
}
#puntos{
	position:absolute;
	border:10px solid red;
	top:20px;
	left:800px;
	background-color:white;
	padding:10px;
	font-size:30px;
	font-family: Arial;
}
