*{
  margin: 0px;
  padding: 0px;
}
body{
	background-color:black;
}
#game {
    position: absolute;
    overflow: hidden;
    float: left;
    width: 700px;
    height: 100%;
    background-image: url("background.png"),
        background-size: auto;

    background-repeat:
        repeat;
    background-position:
        0px 0px;
}

.game-bg-animation {
    animation: parallax-background linear 5s infinite;
}

@keyframes parallax-background {
    from {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    to {
        background-position: 0px 2100px, 0px 1400px, 0px 700px;
    }
}

#container{
	background: url('background.png');
	width:1000px;
	height:550px;
}
#avion{
	background: url('spritesheet.gif');
	background-position: -85px -180px;
	width:28px;
	height:28px;
	position:absolute;
}
.enemigo{
	background: url('spritesheet.gif');
	background-position: -30px -10px;
	width:28px;
	height:28px;
	position:absolute;
}
.otroenemigo{
	background: url('spritesheet.gif');
	background-position: -185px -10px;
	width:28px;
	height:28px;
	position:absolute;
}
.bala{
	background: url('spritesheet.gif');
	background-position: -185px -400px;
	width:18px;
	height:18px;
	position:absolute;
}
.explosion{
	background: url('spritesheet.gif');
	background-position: -145px -30px;
	width:30px;
	height:30px;
	position:absolute;
}
#puntos{
	position:absolute;
	border:10px solid red;
	top:20px;
	left:800px;
	background-color:white;
	padding:10px;
	font-size:30px;
	font-family: Arial;
}
